/* =====================
Base Styles ============
*/
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white-75: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white-75);
}

img {
    max-width: 100%;
    height: auto;
}

/* =====================
Layout Styles ==========
*/
main {
    background: var(--very-light-gray);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component-section {
    padding: 3.0625em;
}

.bg-orange {
    background: var(--bright-orange);
}

.bg-cyan {
    background: var(--dark-cyan);
}

.bg-dark-cyan {
    background: var(--very-dark-cyan);
}

/* =====================
Typography Styles ======
*/
.component-title {
    font-family: 'Big Shoulders Display', cursive;
}

/* =====================
Media Queries ==========
*/
